@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic);
body {
width:100%;
background-image:url("https://www.tokkoro.com/picsup/5008622-razer-computer-logo-hd-4k.jpg");
background-repeat:no-repeat;
height:95%;
width:95%;